@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: Lato, serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

/*--------------------*/
.pading-site {
  padding-left: 98px;
  padding-right: 98px;
}
@media (max-width: 992px) {
  .pading-site {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  max-width: 1616px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  height: 100px;
}

.header a {
  text-decoration: none;
  color: #222222;
  font-family: Lato, serif;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Lato, serif;
  font-size: 27px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.logo h1 {
  font-weight: 300;
}

.logo a {
  text-decoration: none;
  color: #222222;
  padding-left: 10px;
}

.logo span {
  font-weight: 700;
}

.search-block {
  display: flex;
  height: 38px;
  max-width: 403px;
  margin-left: 37px;
  border: 1px solid #e6e6e6;
}
@media (max-width: 768px) {
  .search-block {
    max-width: 287px;
  }
}
.search-block__browse {
  display: flex;
  min-width: 87px;
  height: 38px;
  border-right: 1px solid #e6e6e6;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px 0 0 3px;
  background-color: #f5f5f5;
}
.search-block__browse p {
  color: #222222;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
}
.search-block__browse i {
  color: #838383;
}
.search-block__input {
  border: none;
  width: 278px;
  padding-left: 16px;
  color: #a4a4a4;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
}
.search-block__button {
  width: 38px;
  border-left: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-block__button i {
  color: #a4a4a4;
  font-size: 14px;
  transition: font-size 300ms;
}
.search-block__button i:hover {
  font-size: 18px;
}

.header-right {
  display: flex;
  position: relative;
}
.header-right .cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon:hover .cart-menu {
  display: block;
}

.cart-menu {
  display: none;
  position: absolute;
  width: 262px;
  min-height: 440px;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: Lato, serif;
  border: 1px solid #ccc;
  top: 50px;
  right: -20px;
}
.cart-menu__item {
  display: flex;
  border-bottom: 1px solid #ededed;
  font-size: 12px;
  padding-left: 17px;
  padding-top: 21px;
  padding-bottom: 16px;
}
.cart-menu__item-img {
  max-width: 72px;
}
.cart-menu__item-content {
  width: 50%;
  text-align: center;
  line-height: 2;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
}
.cart-menu__item-content h3 {
  color: #f16d7f;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.cart-menu__item-content .fa-star {
  color: #e4af48;
  font-weight: 400;
}
.cart-menu__item-content .fa-star-half {
  color: #e4af48;
}
.cart-menu__delitem {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 15%;
}
.cart-menu__delitem a {
  margin-right: 0px !important;
  color: #c0c0c0;
}
.cart-menu__delitem a:hover {
  color: black;
}
.cart-menu:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: white;
  position: absolute;
  top: -7px;
  left: 40px;
  transform: rotate(45deg);
}
.cart-menu__total {
  display: flex;
  justify-content: space-around;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 19px;
}
.cart-menu__checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #f16d7f;
}
.cart-menu__checkout:hover {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
}
.cart-menu__checkout a {
  margin: 0;
  padding: 0;
}
.cart-menu .add {
  border: 1px solid #eaeaea;
  color: #4a4a4a;
}

.header-right a {
  margin-right: 26px;
}

.my-account {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  font-family: Lato, serif;
  font-size: 15px;
  color: white;
  border: none;
}

.header-menu {
  display: block;
  height: 51px;
}

.menu {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mega-menu-list {
  list-style-type: none;
}

.menu_list {
  display: inline-block;
  position: relative;
}

.menu_list:hover .mega-box {
  display: flex;
}

.menu-list-last:hover .mega-box {
  right: 30px;
}

.menu_link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 8px;
  margin: 0 8px;
  font-family: Lato, serif;
}

.menu_link:hover {
  border-bottom: 3px solid #f16d7f;
}

.mega-box {
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 20px;
  top: 32px;
  display: none;
}

.mega-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: white;
  position: absolute;
  top: -7px;
  transform: rotate(45deg);
}

.menu-list-last:hover .mega-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: white;
  position: absolute;
  top: -7px;
  right: 40px;
  transform: rotate(45deg);
}

.mega-box-content {
  padding: 20px;
}

.mega-box-head {
  color: #232323;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  width: 235px;
  padding: 8px;
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.mega-link {
  text-decoration: none;
  display: block;
  width: 235px;
  color: #646464;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.mega-link:hover {
  color: #f16d7f;
}

.mega-link-menu-sale {
  display: flex;
  height: 118px;
  width: 255px;
  background-image: url(../img/menusale.jpg);
  color: #ffffff;
  justify-content: right;
  align-items: end;
  transition: 1s;
  margin-top: 22px;
}
.mega-link-menu-sale:hover {
  transform: scale(1.1);
  color: #f16d7f;
}

.mega-link-menu-sale-text {
  display: flex;
  width: 71px;
  height: 45px;
  margin-bottom: 12px;
  margin-right: 10px;
}

.baner1 {
  display: flex;
  height: 665px;
  background-image: url(../img/Layer_24.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}
.baner1__content {
  height: 103px;
  margin-top: 276px;
  margin-left: 140px;
  border-left: 12px solid #f16d7f;
}
@media (max-width: 576px) {
  .baner1__content {
    margin-left: 10px;
  }
}
.baner1__content h1 {
  font-family: Lato, serif;
  font-size: 60px;
  font-weight: 700;
  padding-left: 10px;
}
.baner1__content p {
  font-family: Lato, serif;
  font-size: 40px;
  font-weight: 400;
  padding-left: 10px;
}
.baner1__content p span {
  color: #f16d7f;
}

.blocks {
  display: flex;
  max-width: 1141px;
  margin: 98px auto;
}
@media (max-width: 576px) {
  .blocks {
    flex-direction: column;
  }
}
.blocks__left {
  width: 50%;
}
@media (max-width: 576px) {
  .blocks__left {
    width: 100%;
  }
}
.blocks__left .block1 {
  display: flex;
  height: 542px;
  background-image: url(../img/Layer_30.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  margin-bottom: 20px;
  margin-right: 10px;
  transition: 1s;
}
.blocks__left .block1:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(0.9);
}
.blocks__left .block2 {
  display: flex;
  height: 261px;
  background-color: #dadad2;
  background-image: url(../img/Layer_37.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  margin-right: 10px;
  transition: 1s;
}
.blocks__left .block2:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #dadad2;
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(0.9);
}
.blocks__right {
  width: 50%;
}
@media (max-width: 576px) {
  .blocks__right {
    width: 100%;
  }
}
.blocks__right .block3 {
  display: flex;
  height: 261px;
  background-image: url(../img/Layer_32.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  margin-bottom: 20px;
  margin-left: 10px;
  transition: 1s;
}
.blocks__right .block3:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(0.9);
}
.blocks__right .block4 {
  display: flex;
  height: 542px;
  background-image: url(../img/Layer_31.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  margin-left: 10px;
  transition: 1s;
}
.blocks__right .block4:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(0.9);
}
.blocks .block_content {
  display: block;
  background-color: white;
  margin-top: 26px;
  padding: 18px;
  max-width: 210px;
  height: 82px;
  line-height: normal;
  font-weight: bold;
}
.blocks .block_content h2 {
  color: #222222;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.blocks .block_content p {
  color: #f16d7f;
  font-size: 25px;
  letter-spacing: 0.75px;
  font-family: Lato, serif;
}

.heading {
  margin-top: 100px;
  text-align: center;
  color: #222222;
  font-family: Lato, serif;
}
.heading h1 {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.75px;
  line-height: 54px;
  text-align: center;
}
.heading p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.35px;
}

.galery-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 59px;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1139px;
}

.item {
  position: relative;
  height: 364px;
  width: 263px;
  transition: 1s;
  margin-bottom: 39px;
}
.item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.product-link {
  display: block;
  text-decoration: none;
  height: 364px;
  width: 263px;
}

.img-box {
  display: flex;
}

.img-box:hover {
  filter: brightness(50%);
}

.item:hover .add-to-cart {
  display: flex;
  color: green;
}

.img-box img {
  width: 100%;
  height: 280px;
}

.item-name {
  color: #222222;
  font-family: Lato, serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 13px;
  padding-top: 10px;
}

.price {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding-left: 13px;
  padding-top: 7px;
}

.add-to-cart {
  position: absolute;
  top: 98px;
  display: none;
  width: 100%;
  justify-content: center;
}

.add-to-cart a {
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 13px;
  padding-left: 5px;
  text-decoration: none;
}

.add-to-cart p {
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 13px;
  padding-left: 5px;
}

.add-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 123px;
  border: 1px solid #fff;
}

.button-browse {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
@media (max-width: 768px) {
  .button-browse {
    margin-top: 1px;
  }
}

.button-browse button {
  height: 48px;
  background-color: #f16d7f;
  padding-left: 24px;
  padding-right: 24px;
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  transition: 0.3s;
}
.button-browse button:hover {
  transform: scale(1.1);
}

.baner2 {
  margin-top: 113px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  min-height: 529px;
  max-width: 1140px;
}
@media (max-width: 768px) {
  .baner2 {
    flex-direction: column;
    margin-top: 20px;
  }
}

.baner2-bl1 {
  background-image: url(../img/Layer_38.jpg);
  height: 529px;
  width: 70%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .baner2-bl1 {
    width: 100%;
  }
}

.baner2-bl1-content {
  height: 78px;
  width: 293px;
  font-family: Lato, serif;
  margin-top: 146px;
  margin-left: 39px;
  color: #ffffff;
}
.baner2-bl1-content h2 {
  font-size: 54px;
  font-weight: 700;
}
.baner2-bl1-content h2 span {
  color: #f16d7f;
}
.baner2-bl1-content h3 {
  font-size: 32px;
}

.baner2-bl2 {
  background-color: #222224;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .baner2-bl2 {
    width: 100%;
    align-items: center;
  }
}

.baner2-bl2 a {
  text-decoration: none;
}

.baner2-bl2 a:hover {
  outline: 1px solid #f16d7f;
}

.baner2-bl2-content {
  display: flex;
  flex-wrap: wrap;
  width: 298px;
  height: 105px;
  color: #fbfbfb;
  font-family: Lato, serif;
}
@media (max-width: 768px) {
  .baner2-bl2-content {
    margin: 20px;
  }
}

.baner2-bl2-content img {
  margin-left: 5px;
}

.baner2-bl2-content h2 {
  margin-left: 24px;
  font-size: 20px;
  font-weight: 700;
}

.baner2-bl2-content p {
  margin-left: 70px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.testi {
  background-image: url(../img/Layer_41.jpg);
  margin-top: 113px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 438px;
  background-color: #f2f2f2;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 992px) {
  .testi {
    flex-direction: column;
    margin-top: 50px;
  }
}

.testi-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.testi-content-box {
  display: flex;
  color: #222224;
  font-family: Lato, serif;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .testi-content-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.testi-text {
  display: flex;
  max-width: 386px;
  padding-left: 30px;
}

.testi-foto {
  display: flex;
  border-radius: 50%;
}

.testi-podpis {
  padding-left: 150px;
  color: #222224;
}
@media (max-width: 576px) {
  .testi-podpis {
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
  }
}

.testi-content-pagination-box {
  display: flex;
  justify-content: center;
  margin-top: 41px;
}
.testi-content-pagination-box .testi-content-pagination {
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
  margin-right: 13px;
}
.testi-content-pagination-box .testi-content-pagination:hover {
  background-color: #f16d7f;
}

.testi-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testi-subscribe h2 {
  color: #222224;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 40px;
  text-transform: uppercase;
}

.testi-subscribe p {
  color: #222224;
  font-family: Lato, serif;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 24px;
}
@media (max-width: 576px) {
  .testi-subscribe p {
    font-size: 13px;
  }
}

.subscribe-input {
  display: flex;
}
@media (max-width: 576px) {
  .subscribe-input {
    margin-bottom: 10px;
  }
}

.subscribe-input input {
  width: 334px;
  height: 46px;
  border-radius: 23px;
  background-color: #e1e1e1;
  margin-top: 35px;
  color: #222224;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
  border: none;
}
@media (max-width: 576px) {
  .subscribe-input input {
    width: 260px;
  }
}

.subscribe-input button {
  margin-top: 35px;
  width: 104px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  margin-left: -100px;
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 14px;
  border: none;
  transition: 0.3s;
}

.subscribe-input button:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 123px;
}
@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
  }
}

.footer-column1 {
  width: 427px;
  line-height: 24px;
  color: #222222;
  font-size: 27px;
}
@media (max-width: 768px) {
  .footer-column1 {
    width: 100%;
  }
}

.footer-menu {
  list-style-type: none;
}

.footer-menu a {
  text-decoration: none;
  color: #898989;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 300;
}

.footer-menu a:hover {
  color: #f16d7f;
}

.footer-column1-content {
  margin-top: 41px;
  color: #898989;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 768px) {
  .footer-column2 {
    margin: 20px;
  }
}

.footer-column2 h1 {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .footer-column2 h1 {
    font-size: 14px;
  }
}

.footer-column2 ul {
  margin-top: 45px;
  line-height: 42px;
}
@media (max-width: 768px) {
  .footer-column2 ul {
    margin-top: 5px;
  }
}

.footer2 {
  display: flex;
  height: 79px;
  background-color: #e6e6e6;
  align-items: center;
  justify-content: space-between;
  padding-left: 160px;
  padding-right: 160px;
  margin-top: 122px;
}
@media (max-width: 768px) {
  .footer2 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
  }
}

.copyright p {
  color: #7a7a7a;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 300;
}

.social {
  display: flex;
  height: 33px;
}

.social a {
  display: flex;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #b2b2b2;
  transition: background-color 500ms;
}

.social a:hover {
  background-color: #f16d7f;
  color: white;
}

.product-header {
  display: flex;
  height: 148px;
  background-color: #f8f3f4;
  justify-content: space-between;
  align-items: center;
  padding-left: 98px;
  padding-right: 98px;
  font-family: Lato, serif;
}

.product-header h1 {
  color: #f16d7f;
  font-family: "$font-family - Black", serif;
  font-size: 24px;
  text-transform: uppercase;
}

.product-header nav a {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-header nav a:hover {
  border-bottom: 3px solid #f16d7f;
}

.product-foto {
  display: flex;
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  justify-content: center;
}

.product-content {
  display: flex;
  justify-content: center;
  margin-top: -75px;
}

.product-content-block {
  display: block;
  height: 730px;
  width: 1141px;
  border: 1px solid #eaeaea;
  justify-content: center;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.product-content-block-header {
  text-align: center;
  margin-top: 78px;
}

.product-content-block-header h2 {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
}

.delimiter {
  display: flex;
  width: 147px;
  border-bottom: 1px solid #eaeaea;
  justify-content: center;
  margin: 14px auto auto;
}

.delimiter img {
  margin-bottom: -2px;
}

.product-content-block-header h3 {
  color: #4d4d4d;
  font-family: "$font-family", serif;
  font-size: 18px;
  margin-top: 17px;
}

.product-content-block-header h3 {
  text-transform: uppercase;
  font-family: Lato, serif;
  font-weight: 900;
}

.product-content-block-text {
  width: 618px;
  height: 60px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
}

.product-content-block-category {
  display: flex;
  color: #b9b9b9;
  font-family: Lato, serif;
  font-size: 14px;
  justify-content: space-around;
  width: 390px;
  margin-left: auto;
  margin-top: 28px;
  margin-right: auto;
}

.product-content-block-price {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 24px;
  text-align: center;
  margin-top: 37px;
}

.product-content-block-delimiter2 {
  display: flex;
  width: 642px;
  border-bottom: 1px solid #eaeaea;
  justify-content: center;
  margin: 43px auto auto;
}

.product-content-block-filter {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-top: 63px;
  margin-right: auto;
}

.product-content-block-filter-color h2 {
  color: #2f2f2f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
}

.product-content-block-filter-size h2 {
  color: #2f2f2f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
}

.product-content-block-filter-quanity h2 {
  color: #2f2f2f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
}

.product-content-block-cart-a {
  text-decoration: none;
}

.product-content-block-cart {
  display: flex;
  width: 537px;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  font-size: 16px;
  padding: 16px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.product-content-block-cart h2 {
  padding-left: 15px;
}

.product-content-block-cart:hover {
  background-color: #b9b9b9;
}

.cart-box {
  margin-top: 90px;
  padding-left: 98px;
  padding-right: 98px;
}

.cart-box-header {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-family: Lato, serif;
  font-size: 10px;
  text-transform: uppercase;
}

.cart-box-header h2:first-child {
  margin-right: 150px;
}

.cart-box-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cart-box-product-details {
  display: flex;
}

.cart-box-product-content h2 {
  color: #222222;
  font-family: Lato, serif;
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 28px;
}

.cart-box-product-content-color-size {
  margin-top: 38px;
  color: #6f6e6e;
  font-family: Lato, serif;
  font-size: 13px;
}

.cart-box-product-price {
  color: #656565;
  font-family: Lato, serif;
  font-size: 13px;
}

.cart-box-product-quanity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 30px;
  border: 1px solid #eaeaea;
  color: #656565;
  font-family: Lato, serif;
  font-size: 13px;
}

.cart-box-product-shipping {
  color: #656565;
  font-family: Lato, serif;
  font-size: 13px;
  text-transform: uppercase;
}

.cart-box-product-subtotal {
  color: #656565;
  font-family: Lato, serif;
  font-size: 13px;
}

.cart-box-product-action a {
  text-decoration: none;
  color: #c0c0c0;
}

.cart-box-product:last-child {
  border-bottom: 1px solid #eaeaea;
}

.buttons-under-cart-box {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.buttons-under-cart-box a {
  text-decoration: none;
}

.buttons-under-cart-box a:hover {
  background-color: #f16d7f;
}

.buttons-under-cart-box-c {
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 10px;
  text-transform: uppercase;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  font-family: Lato, serif;
}

.checkout-address h2 {
  text-transform: uppercase;
}
.checkout-address a {
  text-decoration: none;
}
.checkout-address input {
  height: 45px;
  width: 335px;
  margin-top: 18px;
}
.checkout-address .checkout-address-get {
  height: 35px;
  width: 100px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 7px;
  text-transform: uppercase;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.checkout-address .checkout-address-get:hover {
  background-color: #f16d7f;
}

.checkout-coupon h2 {
  text-transform: uppercase;
}
.checkout-coupon input {
  height: 45px;
  width: 335px;
  margin-top: 18px;
}
.checkout-coupon a {
  text-decoration: none;
}
.checkout-coupon .checkout-coupon-apply {
  height: 35px;
  width: 100px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 7px;
  text-transform: uppercase;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.checkout-coupon .checkout-coupon-apply:hover {
  background-color: #f16d7f;
}

.checkout-total {
  background-color: #f5f3f3;
  height: 214px;
}
.checkout-total .checkout-total-content {
  border-bottom: 1px solid #eaeaea;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
}
.checkout-total h2 {
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 11px;
  text-transform: uppercase;
}
.checkout-total h3 {
  color: #222222;
  font-family: Lato, serif;
  font-size: 16px;
  text-transform: uppercase;
}
.checkout-total a {
  text-decoration: none;
}
.checkout-total .checkout-total-proceed {
  height: 50px;
  width: 273px;
  background-color: #f16d7f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.checkout-total .checkout-total-proceed h2 {
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 16px;
}

.shipping-address {
  display: flex;
  max-width: 974px;
  margin-top: 89px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.shipping-address__register {
  width: 50%;
}
.shipping-address__alredy-register {
  width: 50%;
}
.shipping-address h1 {
  color: #222222;
  font-family: Lato, serif;
  font-size: 16px;
  text-transform: uppercase;
}
.shipping-address h2 {
  color: #222222;
  font-size: 13px;
  font-family: Lato, serif;
  text-transform: uppercase;
  padding-top: 39px;
}
.shipping-address h3 {
  color: #b3b2b2;
  font-family: Lato, serif;
  font-size: 13px;
  padding-top: 20px;
}
.shipping-address button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.shipping-address button:hover {
  background-color: #4a4a4a;
  color: white;
}

.shipping-address__alredy-register input {
  height: 45px;
  width: 100%;
}

.body-site {
  max-width: 1140px;
  display: flex;
  margin: 71px auto;
}
.body-site__sitebar {
  width: 25%;
  color: #6f6e6e;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.body-site__content {
  width: 75%;
}
.body-site__content .filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #6f6e6e;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.sort {
  margin-top: 41px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
}
.sort__by {
  display: flex;
  margin: 10px 10px 10px 10px;
  height: 30px;
  color: #6f6e6e;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.sort__by .sort__by-title {
  background-color: white;
  margin-right: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.sort__by .sort__by-filter {
  background-color: white;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.prod-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
  font-family: Lato, serif;
  max-width: 846px;
}
.prod-items .prod-item {
  width: 263px;
  margin-bottom: 38px;
  transition: 1s;
}
.prod-items .prod-item__img {
  width: 100%;
}
.prod-items .prod-item__title {
  margin-top: 19px;
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.prod-items .prod-item__price {
  margin-top: 17px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.prod-items .prod-item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.under-items {
  display: flex;
  justify-content: space-between;
  height: 44px;
  font-family: Lato, serif;
}
.under-items .pages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}
.under-items .view-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}
.under-items .view-all-button:hover {
  background-color: #f1f1f1;
}

.extra {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1600px;
  min-height: 341px;
  background-color: #222224;
  font-family: Lato, serif;
}
@media (max-width: 768px) {
  .extra {
    flex-wrap: wrap;
  }
}
.extra__column {
  max-width: 309px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.extra__column-icon {
  padding: 32px;
}
.extra__column-header {
  font-size: 20px;
  color: #fbfbfb;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.extra__column-content {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
  text-align: center;
  letter-spacing: 0.35px;
  margin-top: 17px;
}

/*# sourceMappingURL=styles.css.map */
