* {
  margin: 0;
  padding: 0;
}

.pading-site {
  padding-left: 98px;
  padding-right: 98px;
}

.container {
  max-width: 1616px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  height: 100px;
}

.header a {
  text-decoration: none;
  color: #222222;
}

.header-left {
  display: flex;
  align-items: center;
}

.search-block {
  display: flex;
  height: 38px;
}

.browse {
  width: 87px;
  margin-left: 60px;
  background-color: #f7f7f7;
  display: flex;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  color: #222222;
  font-family: Lato, serif;
  padding-top: 8px;
  padding-left: 10px;
}

.search-block input {
  width: 317px;
}

.search-button {
  height: 38px;
  width: 38px;
  border-left: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: -40px;
}

.header-right {
  display: flex;
}

.header-right a {
  margin-right: 60px;
}

.my-account {
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  font-family: Lato, serif;
  font-size: 15px;
  color: white;
}

.header-menu {
  display: block;
  height: 51px;
}

.menu {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mega-menu-list {
  list-style-type: none;
}

.menu_list {
  display: inline-block;
  position: relative;
}

.menu_list:hover .mega-box {
  display: flex;
}

.menu-list-last:hover .mega-box {
  right: 30px;
}

.menu_link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 8px;
  margin: 0 8px;
  font-family: Lato, serif;
}

.menu_link:hover {
  border-bottom: 3px solid #f16d7f;
}

.mega-box {
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 20px;
  top: 32px;
  display: none;
}

.mega-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: white;
  position: absolute;
  top: -7px;
  transform: rotate(45deg);
}

.mega-box-content {
  padding: 20px;
}

.mega-box-head {
  color: #232323;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  width: 235px;
  padding: 8px;
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.mega-link {
  text-decoration: none;
  display: block;
  width: 235px;
  color: #646464;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.mega-link:hover {
  color: #f16d7f;
}

.baner1 {
  display: flex;
  height: 665px;
  background-image: url(../img/Layer_24.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.baner1_content {
  height: 92px;
  margin-top: 276px;
  margin-left: 260px;
  border-left: 12px solid #f16d7f;
}

.baner1_content h1 {
  font-family: Lato, serif;
  font-size: 40px;
  padding-left: 10px;
}

.baner1_content p {
  font-family: Lato, serif;
  font-size: 30px;
  font-weight: 400;
  padding-left: 10px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 98px;
  height: 823px;
  padding-left: 230px;
  align-items: center;
  padding-right: 230px;
}

.block1 {
  width: 560px;
  height: 542px;
  background-image: url(../img/Layer_30.jpg);
  background-repeat: no-repeat;
}

.block2 {
  width: 560px;
  height: 261px;
  background-color: #dadad2;
  background-image: url(../img/Layer_37.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.block3 {
  width: 560px;
  height: 261px;
  background-image: url(../img/Layer_32.jpg);
  background-repeat: no-repeat;
}

.block4 {
  width: 560px;
  height: 542px;
  background-image: url(../img/Layer_31.jpg);
  background-repeat: no-repeat;
}

.block_content {
  background-color: white;
  margin-top: 26px;
  padding: 18px;
  width: 180px;
}

.block_content h1 {
  font-size: 18px;
  font-family: Lato, serif;
  font-weight: 400;
  letter-spacing: 0.45px;
}

.block_content p {
  font-family: Lato, serif;
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}

.heading {
  margin-top: 100px;
  text-align: center;
  color: #222222;
  font-family: Lato, serif;
}

.galery-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 59px;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1139px;
}

.item {
  position: relative;
  height: 364px;
  width: 263px;
}

.item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.product-link {
  display: block;
  text-decoration: none;
  height: 364px;
  width: 263px;
}

.img-box {
  display: flex;
}

.img-box:hover {
  filter: brightness(50%);
}

.item:hover .add-to-cart {
  display: flex;
  color: green;
}

.img-box img {
  width: 100%;
}

.item-name {
  color: #222222;
  font-family: Lato, serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 13px;
  padding-top: 10px;
}

.price {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding-left: 13px;
  padding-top: 7px;
}

.add-to-cart {
  position: absolute;
  top: 98px;
  display: none;
  width: 100%;
  justify-content: center;
}

.add-to-cart a {
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 13px;
  padding-left: 5px;
  text-decoration: none;
}

.add-to-cart p {
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 13px;
  padding-left: 5px;
}

.add-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 123px;
  border: 1px solid #fff;
}

.button-browse {
  display: flex;
  justify-content: center;
}

.button-browse button {
  height: 48px;
  background-color: #f16d7f;
  padding-left: 24px;
  padding-right: 24px;
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 700;
}

.baner2 {
  margin-top: 113px;
  display: flex;
  height: 529px;
  justify-content: center;
}

.baner2-bl1 {
  background-image: url(../img/Layer_38.jpg);
  width: 767px;
}

.baner2-bl1-content {
  height: 78px;
  width: 239px;
  font-family: Lato, serif;
  margin-top: 146px;
  margin-left: 39px;
}

.baner2-bl2 {
  background-color: #222224;
  width: 373px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.baner2-bl2 a {
  text-decoration: none;
}

.baner2-bl2 a:hover {
  outline: 1px solid #f16d7f;
}

.baner2-bl2-content {
  display: flex;
  flex-wrap: wrap;
  width: 298px;
  height: 105px;
  color: #fbfbfb;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
}

.baner2-bl2-content img {
  margin-left: 5px;
}

.baner2-bl2-content h1 {
  margin-left: 10px;
}

.baner2-bl2-content p {
  margin-left: 70px;
}

.testi {
  background-image: url(../img/Layer_41.jpg);
  margin-top: 113px;
  display: flex;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  width: 1618px;
  height: 438px;
  background-color: #f2f2f2;
  justify-content: space-around;
  align-items: center;
}

.testi-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.testi-content-box {
  display: flex;
  color: #222224;
  font-family: Lato, serif;
  font-size: 16px;
  font-style: italic;
}

.testi-text {
  display: flex;
  width: 386px;
  padding-left: 30px;
}

.testi-foto {
  display: flex;
  border-radius: 50%;
}

.testi-podpis {
  padding-left: 150px;
  color: #222224;
}

.testi-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testi-subscribe h1 {
  color: #222224;
  font-family: Lato, serif;
  font-weight: 400;
}

.testi-subscribe p {
  color: #222224;
  font-family: Lato, serif;
}

.subscribe-input {
  display: flex;
}

.subscribe-input input {
  width: 334px;
  height: 46px;
  border-radius: 23px;
  background-color: #e1e1e1;
  margin-top: 35px;
  color: #222224;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
}

.subscribe-input button {
  margin-top: 35px;
  width: 104px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  margin-left: -100px;
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 123px;
}

.footer-column1 {
  width: 427px;
}

.footer-menu {
  text-transform: uppercase;
  list-style-type: none;
}

.footer-menu a {
  text-decoration: none;
  color: #898989;
  font-family: Lato, serif;
  font-size: 16px;
}

.footer-menu a:hover {
  color: #f16d7f;
}

.footer-column1-content {
  margin-top: 41px;
  color: #898989;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Lato, serif;
}

.logo a {
  text-decoration: none;
  color: #222222;
  padding-left: 10px;
}

.footer-column2 h1 {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 18px;
}

.footer-column2 ul {
  margin-top: 45px;
}

.footer-column3 h1 {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 18px;
}

.footer-column3 ul {
  margin-top: 45px;
}

.footer-column4 h1 {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 18px;
}

.footer-column4 ul {
  margin-top: 45px;
}

.footer2 {
  display: flex;
  height: 79px;
  background-color: #e6e6e6;
  align-items: center;
  justify-content: space-between;
  padding-left: 160px;
  padding-right: 160px;
  margin-top: 122px;
}

.copyright p {
  color: #7a7a7a;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 400;
}

.social {
  display: flex;
  height: 33px;
}

.social a {
  display: flex;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #b2b2b2;
}

.social a:hover {
  background-color: #f16d7f;
  color: white;
}

.product-header {
  display: flex;
  height: 148px;
  background-color: #f8f3f4;
  justify-content: space-between;
  align-items: center;
  padding-left: 98px;
  padding-right: 98px;
  font-family: Lato, serif;
}

.product-header h1 {
  color: #f16d7f;
  font-family: "$font-family - Black", serif;
  font-size: 24px;
  text-transform: uppercase;
}

.product-header nav a {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-header nav a:hover {
  border-bottom: 3px solid #f16d7f;
}

.product-foto {
  display: flex;
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  justify-content: center;
}

.product-content {
  display: flex;
  justify-content: center;
  margin-top: -75px;
}

.product-content-block {
  display: block;
  height: 730px;
  width: 1141px;
  border: 1px solid #eaeaea;
  justify-content: center;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.product-content-block-header {
  text-align: center;
  margin-top: 78px;
}

.product-content-block-header h2 {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
}

.delimiter {
  display: flex;
  width: 147px;
  border-bottom: 1px solid #eaeaea;
  justify-content: center;
  margin: 14px auto auto;
}

.delimiter img {
  margin-bottom: -2px;
}

.product-content-block-header h3 {
  color: #4d4d4d;
  font-family: "$font-family", serif;
  font-size: 18px;
  margin-top: 17px;
}

.product-content-block-header h3 {
  text-transform: uppercase;
}

.product-content-block-text {
  display: flex;
  width: 618px;
  margin: 67px auto auto;
  text-align: center;
  color: #5e5e5e;
  font-family: Lato, serif;
  font-size: 14px;
}

.product-content-block-category {
  display: flex;
  color: #b9b9b9;
  font-family: Lato, serif;
  font-size: 14px;
  justify-content: space-around;
  width: 390px;
  margin-left: auto;
  margin-top: 28px;
  margin-right: auto;
}

.product-content-block-price {
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 24px;
  text-align: center;
  margin-top: 37px;
}

.product-content-block-delimiter2 {
  display: flex;
  width: 642px;
  border-bottom: 1px solid #eaeaea;
  justify-content: center;
  margin: 43px auto auto;
}

.product-content-block-filter {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-top: 63px;
  margin-right: auto;
}

.product-content-block-filter-color h2 {
  color: #2f2f2f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
}

.product-content-block-filter-size h2 {
  color: #2f2f2f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
}

.product-content-block-filter-quanity h2 {
  color: #2f2f2f;
  font-family: Lato, serif;
  font-size: 14px;
  text-transform: uppercase;
}

.product-content-block-cart-a {
  text-decoration: none;
}

.product-content-block-cart {
  display: flex;
  width: 537px;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 11px;
  font-weight: 700;
  justify-content: center;
  padding: 23px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.product-content-block-cart h2 {
  padding-left: 15px;
}

.product-content-block-cart:hover {
  background-color: #b9b9b9;
}

.cart-box {
  margin-top: 90px;
  padding-left: 98px;
  padding-right: 98px;
}

.cart-box-header {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-family: Lato, serif;
  font-size: 10px;
  text-transform: uppercase;
}

.cart-box-header h2:first-child {
  margin-right: 150px;
}

.cart-box-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cart-box-product-details {
  display: flex;
}

.cart-box-product-content h2 {
  color: #222222;
  font-family: Lato, serif;
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 28px;
}

.cart-box-product-content-color-size {
  margin-top: 38px;
  color: #6f6e6e;
  font-family: Lato, serif;
  font-size: 13px;
}

.cart-box-product-price {
  color: #656565;
  font-family: Lato, serif;
  font-size: 13px;
}

.cart-box-product-quanity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 30px;
  border: 1px solid #eaeaea;
  color: #656565;
  font-family: Lato, serif;
  font-size: 13px;
}

.cart-box-product-shipping {
  color: #656565;
  font-family: Lato, serif;
  font-size: 13px;
  text-transform: uppercase;
}

.cart-box-product-subtotal {
  color: #656565;
  font-family: Lato, serif;
  font-size: 13px;
}

.cart-box-product-action a {
  text-decoration: none;
  color: #c0c0c0;
}

.cart-box-product:last-child {
  border-bottom: 1px solid #eaeaea;
}

.buttons-under-cart-box {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.buttons-under-cart-box a {
  text-decoration: none;
}

.buttons-under-cart-box a:hover {
  background-color: #f16d7f;
}

.buttons-under-cart-box-c {
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 10px;
  text-transform: uppercase;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  font-family: Lato, serif;
}

.checkout-address h2 {
  text-transform: uppercase;
}
.checkout-address a {
  text-decoration: none;
}
.checkout-address input {
  height: 45px;
  width: 335px;
  margin-top: 18px;
}
.checkout-address .checkout-address-get {
  height: 35px;
  width: 100px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 7px;
  text-transform: uppercase;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.checkout-address .checkout-address-get:hover {
  background-color: #f16d7f;
}

.checkout-coupon h2 {
  text-transform: uppercase;
}
.checkout-coupon input {
  height: 45px;
  width: 335px;
  margin-top: 18px;
}
.checkout-coupon a {
  text-decoration: none;
}
.checkout-coupon .checkout-coupon-apply {
  height: 35px;
  width: 100px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 7px;
  text-transform: uppercase;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.checkout-coupon .checkout-coupon-apply:hover {
  background-color: #f16d7f;
}

.checkout-total {
  background-color: #f5f3f3;
  height: 214px;
}
.checkout-total .checkout-total-content {
  border-bottom: 1px solid #eaeaea;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
}
.checkout-total h2 {
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 11px;
  text-transform: uppercase;
}
.checkout-total h3 {
  color: #222222;
  font-family: Lato, serif;
  font-size: 16px;
  text-transform: uppercase;
}
.checkout-total a {
  text-decoration: none;
}
.checkout-total .checkout-total-proceed {
  height: 50px;
  width: 273px;
  background-color: #f16d7f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.checkout-total .checkout-total-proceed h2 {
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 16px;
}

/*# sourceMappingURL=styles.css.map */
